services:
  docling:
    build: .
    image: docling-cu128-tur
    container_name: docling
    ports:
      - '9881:5001'
    environment:
      - DOCLING_SERVE_ENABLE_UI=1
      - TESSDATA_PREFIX=/usr/share/tesseract-ocr/5/
    gpus: all
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
